$primary-color: #dda7a7;
$secondary-color: #a2e6eb;
$body-color: #acabab;
$font-stack: "Roboto", sans-serif;

// Default Global style
* {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}
.flex {
  display: flex;
  gap: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  background: $body-color;
  min-height: 100vh;
}
.primary-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0 0 3px 3px black;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $primary-color;
  .logo {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    div {
      &:nth-child(1) {
        h1 {
          font-size: 1.8rem;
        }
      }
      &:nth-child(2) {
        h1 {
          font-size: 1rem;
        }
      }
      .line {
        &::before {
          content: "";
          height: 60%;
          width: 5px;
          left: 50%;
          position: absolute;
          background-color: $body-color;
        }
      }
    }
  }
}
